<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.absolutehh.DLRMultiplayer" xmlns:tools="http://schemas.android.com/tools" android:installLocation="auto">
  <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />
  <!-- Request the headset DoF mode -->
  <application android:theme="@style/UnityThemeSelector" android:icon="@mipmap/app_icon" android:label="@string/app_name">
    <activity
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        android:configChanges="locale|fontScale|keyboard|keyboardHidden|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
        android:launchMode="singleTask"
        android:name="com.unity3d.player.UnityPlayerActivity"
        android:excludeFromRecents="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.INFO"/>
      </intent-filter>
    </activity>
    <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
    <meta-data android:name="android.notch_support" android:value="true" />
    <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
  </application>
  <uses-feature android:glEsVersion="0x00030000" />
  <supports-gl-texture android:name="GL_KHR_texture_compression_astc_ldr" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-feature android:name="android.hardware.microphone" android:required="true" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen.multitouch.distinct" android:required="false" />
</manifest>